@import url('https://fonts.google.com/specimen/Nerko+One');
* {
    box-sizing: border-box;
}
body {
    background-color: burlywood;
    text-align: center;
   text-decoration-style: dotted;    
   font-family: sans-serif;  
   font-family: Nerko One,Open Sans;
   font-weight: 700;
}
blockquote {
    background-color: steelblue;
    margin: 3em;
    padding: 1em;
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
    border-color: orange;
    border: 1em;
    margin-bottom: 1em;
    font-style: italic;
    text-decoration-style: dotted;
   box-sizing: border-box;
   font-family: 'Lato', 'Ubuntu';
   font-weight: 400;
}
h1 {
    color: orangered;
    text-align: center;
    font-size: 14px;
   }
h2 {
    color: green;
    text-decoration: black;
}
h3 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: yellow;
}
body {
    background-color: yellow;
}
h5 {
   color: gray;
   font-family: sans-serif;
}
span {
    color:red;
    font-style: italic;
}
p {
    display: inline;
}
img {
    display: block;
}