@import url('https://fonts.google.com/specimen/Nerko+One');
body {
    background-color: burlywood;
    text-align: center;
   text-decoration-style: dotted;    
   font-family: sans-serif;  
}
h1 {
    color: orangered;
    text-align: center;
    font-size: 14px;
   }
h2 {
    color: green;
    text-decoration: black;
}
h3 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: yellow;
}
body {
    background-color: yellow;
}
h5 {
   color: gray;
   font-family: sans-serif;
}