@import url('https://fonts.google.com/specimen/Nerko+One');
body {
    background-color: burlywood;
    text-align: center;
    text-decoration: line-through;
    }
h1 {
    color: orangered;
    text-align: center;
    text-decoration: cotted;
    font-size: large;
   }
h2 {
    color: green;
    text-decoration: black;
}
h3 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: yellow;
}
