table {
    border-style:solid;
    border-color: teal;
    border-spacing: 0;
border-collapse: collapse;
}

th {
    border-style:solid;
    border-color:firebrick;
    background-color: olive;
    color:white;
   padding: 0,5em;
}
td {
    border-style:solid;
    border-color: olive;
    padding: 0,5em;
   text-transform: uppercase;
}
tr {
    border-style:solid;
    border-color: steelblue;
    padding: 0,5em;
}