th{
    display:inline;
   margin: 0,5em 0em 0,5em 0em;
  padding: 0,5em;
 color: red;
}

td {
    display: block;
    margin: 0,5em 0em 0,5em 0em;
    padding:0,5em;
    color:darkorange
}

tr {
    display:block;
    margin:0,5em 0em 0,5em 0;
    padding: 0.5em;
    color: olive;
 }
table {
    display:block;
    margin:0,5em 0 0,5em 0;
    padding:0,5em;
    color:tomato;
}