th{
 padding: 0,5em;

border-style:solid;

border-collapse: collapse;
}

td {
padding:0,5em;
   
    border-style: solid;
  
    border-collapse: collapse;
}

tr {
   
    padding: 0.5em;

    border-style:solid; 
 
    border-collapse: collapse;
}
body {
    background-color: olive;
}