th{
    background-color: rebeccapurple;
  padding: 0,5em;
 color: red;
border-style:solid;
border-color: darkred;
}

td {
    background-color: burlywood;
    padding:0,5em;
    color:darkorange;
    border-style: solid;
    border-color: orange;
}

tr {
    background-color: tomato;
    padding: 0.5em;
    color: olive;
    border-style:solid; 
    border-color: steelblue;
}
table {
    background-color: darkblue;
    padding:0,5em;
    color:tomato;
    border-style:solid;
    border-color: forestgreen;
}