body {
    text-align: center;
    padding: 100px 0 0 0;
    color: #fff;
    background: #1d1f20;
}

#loading,#loading1 {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}
