h1 {
    font-family:sans-serif;
    text-decoration-style:dotted;
}
ol {
    background-color: darkorange;
    padding: 0,5em;
    border-style:solid;
    font-family:'Courier New';
    font-style: italic;
}
/* css reset */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    font-family:sans-serif;
    text-align:center;
}
header li {
    background-color: rgb (210, 210, 210);
    display:inline;
}
li {
    display:inline;
}
a {
    padding:1em;
    margin:0,5em;
}
h1 {
    margin:1,5em;
    padding:1,5em;
}
img {
    padding:1em;
    height:45vh;
    transform:rotate(45deg);
}
article,div {
 display:inline-block;
vertical-align: middle;
}
article ul {
    list-style-type: none;
}
article li {
    padding:2em;
}
input[type="button"] {
    background-color: orange;
    color: white;
    font-size: 1.0em;
    padding: 0.3em 0.7em;
    border-radius: 0.5em;
    border: 0;
}
article {
    padding-bottom:3em;
   display:inline;
}
footer {
    background-color:rgb(39, 39, 39);
    text-align:center;
    color:white;
    margin:0,3em;
    padding:0,3em 2em;
}
p {
    margin-bottom:1em;
}
a:hover {
    color:salmon;
    font-size:1em;
}
img:hover {
    transform: rotate(360deg);
    transform:translate(50px,100px);
}