h1 {
    font-family:sans-serif;
    text-decoration-style:dotted;
}
ol {
    background-color: darkorange;
    padding: 0,5em;
    border-style:solid;
    font-family:'Courier New';
    font-style: italic;
}
/* css reset */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    font-family:sans-serif;
}
header {
    background-color: rgb (210, 210, 210);
}
li {
    display:inline;
}
a {
    padding:1em;
    margin:0,5em;
}
h1 {
    margin:1,5em;
    padding:1,5em;
}
img {
    padding:1em;
    height:45vh;
}
article,div {
    display:inline-block;
}
