div {
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align:center;
   position: relative;
    top: 5em;
   left: 3em;
   right: 1em;
   bottom: -auto;
}
#a {
    background-color: darkorange;
}
#b {
    background-color: pink;
    position: absolute;
    top: 13em;
    right: 12em;
    left: 13em;
    bottom: 16em;
}



#c {
    background-color: blue;
}
#d {
    background-color: darkblue;
}