div {
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align:center;
   top:3em;
   left: auto;
   right:auto;
   bottom: 1em;
}
#a {
    background-color: darkorange;
}
#b {
    background-color: pink;
}
#c {
    background-color: blue;
}
#d {
    background-color: darkblue;
}