div {
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align:center;
   position: relative;
    top: 3em;
   left: 1em;
   right: -1em;
   bottom: 1em;
}
#a {
    background-color: darkorange;
}
#b {
    background-color: pink;
    position: absolute;
    top: 3em;
    right: 2em;
    left: 3em;
    bottom: 6em;
}



#c {
    background-color: blue;
}
#d {
    background-color: darkblue;
}