input {
    display: block;
    margin: 0,2em 0 0,7em 0;
}
button {
    display: block;
    background-color: rgb(0,255,153);
    /*
    vom schimba stilul butonului
    */
   border-style: none;
 padding: 0,5em;
color: tomato;
width:7em;
}

label {
    font-family: sans-serif;
    display: block;
}
textarea {
    display: block;
}
select {
    display:block;
    margin-bottom: 0,5em;
}
